{% extends "::layout.html.twig" %}

{% block body %}
	<h3>Populaires</h3>
	<hr>
	{% for nb in populaire|slice((page*9)-9, page*9) %}
		{% set recette = recettes[nb[1]-1] %}
		{% if loop.first %}
			<div class="row">
		{% endif %}
			<div class="col-md-4">
				<div class="thumbnail">
					<a href="{{ path('pp_appli_recetteDetail', {id: recette.id}) }}"><img src="{{ asset('uploads/images/' ~ recette.utilisateur.username ~ '/recettes/' ~ recette.rctIllustration.id ~ '.' ~ recette.rctIllustration.url) }}"></a>
					<h3 class="text-center"><a href="{{ path('pp_appli_recetteDetail', {id: recette.id}) }}">{{ recette.rctTitre }}</a></h3>
				</div>
			</div>
		{% if loop.last %}
			</div>
		{% else %}
			{% if loop.index%3 == 0 %}
				</div>
				<div class="row">
			{% endif %}
		{% endif %}
	{% endfor %}
	<div class="row">
		<div class="text-center">
			<ul class="pagination">
				<li><a href="{{ path('pp_appli_populaire', {page: page-1}) }}">&laquo;</a></li>
				{% for i in 1..nombrePages %}
					<li {% if page == i %}class="active"{% endif %}><a href="{{ path('pp_appli_populaire', {page: i}) }}">{{ i }}</a></li>
				{% endfor %}
				<li><a href="{{ path('pp_appli_populaire', {page: page+1}) }}">&raquo;</a></li>
			</ul>
		</div>
	</div>
{% endblock %}