{% extends "::layout.html.twig" %}

{% block body %}
	<h2>Resultat de la recherche : {{ search }}</h2>
	<hr>
	<table>
		{% for recette in result %}
			{% if loop.first %}
				<div class="row">
			{% endif %}
				<div class="col-md-4">
					<div class="thumbnail">
						<a href="{{ path('pp_appli_recetteDetail', {id: recette.id}) }}"><img src="{{ asset('uploads/images/' ~ recette.utilisateur.username ~ '/recettes/' ~ recette.rctIllustration.id ~ '.' ~ recette.rctIllustration.url) }}"></a>
						<h3 class="text-center"><a href="{{ path('pp_appli_recetteDetail', {id: recette.id}) }}">{{ recette.rctTitre }}</a></h3>
					</div>
				</div>
			{% if loop.last %}
				</div>
			{% else %}
				{% if loop.index%3 == 0 %}
					</div>
					<div class="row">
				{% endif %}
			{% endif %}
		{% endfor %}
	</table>
	
{% endblock %}