{% extends "::layout.html.twig" %}

{% block body %}
	<h3>Profil</h3>
	<hr>
	<div class="row">
		<div class="col-md-6">
			<h4>Informations</h4>
			
			<ul class="list-group">
				<li class="list-group-item">Nom d'utilisateur : {{ utilisateur.username }}</li>
				<li class="list-group-item">Nom : {{ utilisateur.utiNom }}</li>
				<li class="list-group-item">Prénom : {{ utilisateur.utiPrenom }}</li>
				<li class="list-group-item">Email : {{ utilisateur.utiMail }}</li>
			</ul>
			<a class="btn btn-primary" href="{{ path('pp_user_editerProfil') }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Modifier mes informations</a>
			<br />
			<br />
			<a class="btn btn-danger" href="{{ path('pp_user_supprimerUtilisateur') }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Supprimer mon compte</a>
		</div>

		<div class="col-md-6 text-center">
			<h4>Avatar</h4>
			{% if image.utilisateur.username is defined %}
				<img src="{{ asset('uploads/images/' ~ image.utilisateur.username ~ '/avatar.' ~ image.url) }}" width='250'>
			{% endif %}
			<h4>Modifier l'avatar :</h4>
			{% include "PPUserBundle:Forms:avatarForm.html.twig" %}
		</div>
	</div>
	<hr>
	<div class="row text-center">
		<a class="btn btn-primary" href="{{ path('pp_appli_menus') }}">Gestion des menus</a>
		<a class="btn btn-primary" href="{{ path('pp_appli_listes') }}">Gestion des listes d'ingrédients</a>
	</div>
	<hr>
	<h4 class="text-center">Gestion des ingrédients et des unités</h4>
	<div class="row">
		<div class="col-md-6 text-center">
			<h4>Ingrédients</h4>
			<a class="btn btn-success" href="{{ path('pp_appli_ajouterIngredient') }}">Nouveau</a>
			<a class="btn btn-primary" href="{{ path('pp_appli_listeIngredient') }}">Mes ingrédients</a>
		</div>

		<div class="col-md-6 text-center">
			<h4>Unités</h4>
			<a class="btn btn-success" href="{{ path('pp_appli_ajouterUnite') }}">Nouveau</a>
			<a class="btn btn-primary" href="{{ path('pp_appli_listeUnite') }}">Mes unités</a>
		</div>
	</div>

	<hr>
	<h4>Gérer mes recettes</h4>
	
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Etat de la recette</th>
				<th>Titre de la recette</th>
				<th>Catégorie</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for recette in recettes %}
				<tr>
					<td>{% if recette.rctStatut == "soumise" %}En attente de relecture{% elseif recette.rctStatut == "brouillon" %}Brouillon{% else %}Publiée{% endif %}</td>
					<td>{{ recette.rctTitre }}</td>
					<td>{{ recette.categorie.catLabel }}</td>
					<td><button class="btn btn-primary" onclick="window.open('{{ path('pp_appli_recetteDetail', {id:recette.id}) }}')"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Voir</button> <button class="btn btn-primary" onclick="window.location.href='{{ path('pp_appli_editRecette', {id: recette.id}) }}'"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editer</button> <button class="btn btn-danger" data-toggle="modal" data-target="#modalSuppression" data-path="{{ path('pp_appli_supprimerRecette', {id:recette.id}) }}"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Supprimer</button></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	
	<hr>
	<h4>Ajouter une nouvelle recette</h4>
	<button class="btn btn-success" onclick="window.location.href='{{ path('pp_appli_ajouterRecette') }}'"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Ajouter une recette</button>
	
	<div class="modal fade" id="modalSuppression" role="dialog" aria-labelledby="confirmationSupression" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
					<h4 class="modal-title" id="confirmationSupression">Confirmation de suppression</h4>
				</div>
				
				<div class="modal-body">
					<p>Voulez-vous vraiment supprimer cette recette ?</p>
					<div class="text-right">
						<button id="suppression" class="btn btn-danger" type="button"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Supprimer</button> <button class="btn btn-default" type="button" class="close" data-dismiss="modal">Annuler</button>
					</div>
					<input hidden type="text" id="path" />
				</div>
			</div>
		</div>
	</div>
	
	{% block javascripts %}
		<script>
			$('#modalSuppression').on('show.bs.modal', function (event) {
			  var button = $(event.relatedTarget)
			  var path = button.data('path')
			  var modal = $(this)
			  modal.find('.modal-body input').val(path)
			})
			
			$('#suppression').click(function() {
				var path = $('#path').val()
				window.location.replace(path);
			});
		</script>
	{% endblock %}
	
{% endblock %}