{% extends "::layout.html.twig" %}

{% block body %}
	{% include "PPAdminBundle:Admin:navAdministration.html.twig" %}
	<h3>Unites en attente de validation</h3>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Acronyme</th>
				<th>Description</th>
				<th>Utilisateur</th>
				<th>Actions</th>
			</tr>
		</thead>
		
		<tbody>
			{% for unite in unites %}
				<tr>
					<td>{{ unite.uniLabel }}</td>
					<td>{{ unite.uniShortLabel }}</td>
					<td>{{ unite.uniDescription }}</td>
					<td>{{ unite.utilisateur.username }}</td>
					<td><a class="btn btn-primary" href="{{ path('pp_admin_editUnite', {id: unite.id}) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editer</a> <a class="btn btn-danger" data-toggle="modal" data-target="#modalSuppression" data-path="{{ path('pp_admin_supprUnite', {id:unite.id}) }}">Supprimer</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{% include "PPAdminBundle:Unite:modal.html.twig" %}
	{% block javascripts %}
		{% include "PPAdminBundle:Unite:modalJs.html.twig" %}
	{% endblock %}

{% endblock %}
