{% extends "::layout.html.twig" %}

{% block body %}
	<h3>Edition d'une unité</h3>
	<a href="{{ path('pp_admin_unitesAttente') }}">Retour à la liste des unitées en attente</a>
	{{ form_start(form) }}
		{{ form_errors(form) }}

		<div class="form-group">
			{{ form_errors(form.uniLabel) }}
			{{ form_label(form.uniLabel) }}
			{{ form_widget(form.uniLabel, {attr: {class: 'form-control'}}) }}
		</div>

		<div class="form-group">
			{{ form_errors(form.uniShortLabel) }}
			{{ form_label(form.uniShortLabel) }}
			{{ form_widget(form.uniShortLabel, {attr: {class: 'form-control'}}) }}
		</div>

		<div class="form-group">
			{{ form_errors(form.uniDescription) }}
			{{ form_label(form.uniDescription) }}
			{{ form_widget(form.uniDescription, {attr: {class: 'form-control'}}) }}
		</div>

		<div class="form-group">
			{{ form_errors(form.uniValide) }}
			{{ form_label(form.uniValide) }}
			{{ form_widget(form.uniValide, {attr: {class: 'form-control'}}) }}
		</div>

		<center><input class="btn btn-primary" type="submit" value="Enregistrer" /></center>
		<br />
		<center><a class="btn btn-danger" data-toggle="modal" data-target="#modalSuppression" data-path="{{ path('pp_admin_supprUnite', {id:unite.id}) }}">Supprimer</a></center>

	{{ form_end(form) }}

	{% include "PPAdminBundle:Unite:modal.html.twig" %}
	{% block javascripts %}
		{% include "PPAdminBundle:Unite:modalJs.html.twig" %}
	{% endblock %}
	
{% endblock %}
