{% extends "::layout.html.twig" %}

{% block body %}
	<h3>Editer la liste des recettes du menu : {{ menu.nom }}</h3>
	<a href="{{ path('pp_appli_menus') }}">Retour à la liste des menus</a>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Titre de la recette</th>
				<th>Actions</th>
			</tr>
		</thead>
		
		<tbody>
			{% for recette in menu.recettes %}
				<tr>
					<td>{{ recette.rctTitre }}</td>
					<td><a class="btn btn-primary" href="{{ path('pp_appli_recetteDetail', {id: recette.id}) }}">Voir</a> <button class="btn btn-danger" data-toggle="modal" data-target="#modalSuppression" data-path="{{ path('pp_appli_supprimerRecetteMenu', {id: menu.id, idRecette: recette.id}) }}"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Supprimer</button></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="modal fade" id="modalSuppression" role="dialog" aria-labelledby="confirmationSupression" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
					<h4 class="modal-title" id="confirmationSupression">Confirmation de suppression</h4>
				</div>
				
				<div class="modal-body">
					<p>Voulez-vous vraiment supprimer cette recette du menu ?</p>
					<div class="text-right">
						<button id="suppression" class="btn btn-danger" type="button"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Supprimer</button> <button class="btn btn-default" type="button" class="close" data-dismiss="modal">Annuler</button>
					</div>
					<input hidden type="text" id="path" />
				</div>
			</div>
		</div>
	</div>
		
	{% block javascripts %}
		<script>
			$('#modalSuppression').on('show.bs.modal', function (event) {
			  var button = $(event.relatedTarget)
			  var path = button.data('path')
			  var modal = $(this)
			  modal.find('.modal-body input').val(path)
			})
			
			$('#suppression').click(function() {
				var path = $('#path').val()
				window.location.replace(path);
			});
		</script>
	{% endblock %}
	
{% endblock %}
