{% extends "::layout.html.twig" %}

{% block body %}
	<h3>Liste des menus <a class="btn btn-success" href="{{ path('pp_appli_ajouterMenu') }}">Nouveau</a></h3>
	<a href="{{ path('pp_user_profil') }}">Retour au profil</a>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Actions</th>
			</tr>
		</thead>
		
		<tbody>
			{% for menu in menus %}
				<tr>
					<td>{{ menu.nom }}</td>
					<td><a class="btn btn-primary" href="{{ path('pp_appli_editerRecettesMenu', {id: menu.id}) }}">Editer la liste des recettes</a> <a class="btn btn-primary" href="{{ path('pp_appli_listeIngredientsMenu', {id: menu.id}) }}">Voir la liste des ingrédients</a> <a class="btn btn-danger" href="{{ path('pp_appli_supprimerMenu', {id: menu.id}) }}">Supprimer</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	
{% endblock %}
