<h3>Administration</h3>
<ul class="nav nav-tabs nav-justified">
	<li><a href="{{ path('pp_admin_homepage') }}">Accueil</a></li>
	<li><a href="{{ path('pp_admin_listeUtilisateurs') }}">Liste des utilisateurs</a></li>
	<li class="dorpdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Catégories<span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><a href="{{ path('pp_admin_listeCategories') }}">Liste des catégories</a></li>
			<li><a href="{{ path('pp_admin_ajouterCategorie') }}">Ajouter une catégorie</a></li>
		</ul>
	</li>
	<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Recettes<span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><a href="{{ path('pp_admin_recettesAttente') }}">Recettes en attente</a></li>
			<li><a href="{{ path('pp_admin_listeRecettes') }}">Liste des recettes</a></li>
		</ul>
	</li>
	<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Ingrédients/Unités<span class="caret"></span></a>
		<ul class="dropdown-menu">
		  <li><a href="{{ path('pp_admin_ingredientsAttente') }}">Ingrédients en attente</a></li>
		  <li><a href="{{ path('pp_admin_ingredientsListe') }}">Liste des ingrédients</a></li>
		  <li class="divider"></li>
		  <li><a href="{{ path('pp_admin_unitesAttente') }}">Unités en attente</a></li>
		  <li><a href="{{ path('pp_admin_unitesListe') }}">Liste des unités</a></li>
		</ul>
	</li>
</ul>
<br />